@model JunksOut.Domain.UploadData
@{
    Layout = null;
}





@using (Html.BeginForm("Upload", "Home", FormMethod.Post,
                         new { enctype = "multipart/form-data" }))
{
@Html.ValidationSummary(true)

<fieldset>
    Enter Address: 
<input name="addresstextview"  id="address" type="text" />

    <div>
    Select a file <input type="file" name="file" />
    <input  type="submit" value="Upload"  />
    </div>

<div>
Enter Tags:
<input name="tagstextview" id="tags" type="text" />
</div>

<div>
Enter Description:
<input name="descriptiontextview" id="description" type="text" />
</div>

</fieldset>
}









