@model JunksOut.Domain.UploadData
@{
    Layout = null;
}


@using (Html.BeginForm("Upload", "Home", FormMethod.Post,
                             new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        Select a file <input type="file" name="file" />
        <input type="submit" value="Upload" />

         <div>
        <label for="fileDescription">
            Description: <input id="fileDescription" name="filetext" type="text" />
        </label>


    </div>

    </fieldset>
}